{% extends 'base.html'%}

{% block content %}

<div class="wrapper">
    <!-- Sidebar  -->

    {% include 'navbar.html'%}
    <!-- Page Content  -->
    <div id="content">
        {% include 'top-nav.html'%}
        <div class="row">
            <div class="col-md-12">
                <div class="card">

            <div class="card-header">
                <h6 class="text-uppercase mb-0">Customer Details</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm card-text">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>{{cus_detail.customer_name.name}}</td>



                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{cus_detail.amount}}</td>
                    </tr>

                    <tr>
                        <td>Amount</td>
                        <td>{{cus_detail.amount}}</td>
                    </tr>

                    </thead>

                </table>
            </div>
        </div>

            </div>

        </div>



    </div>


</div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->


{% endblock%}